# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

# build dir
build/*

Engine/Library/Debug/FbxSDK/libfbxsdk-mt.lib
Engine/Library/Debug/FbxSDK/libfbxsdk-md.lib