__forceinline bool IsType(const eGameObjectType type1, const eGameObjectType type2) {
        const eGameObjectType* types = nullptr;
        switch (type1) {
{CaseTypes}
        }

        for (int i = 0; ; i++) {
            if (types[i] == eGameObjectType::__AllType__) {
                return false;
            }

            if (types[i] == type2) {
                return true;
            }
        }

        return false;
    }
